In [5]:
import numpy as np 
import pandas as pd 

data = { 

    "Imię": ["Ala", "Bartek", "Celina"], 

    "Wiek": [22, 25, 20], 

    "Ocena": [4.5, 3.8, 5.0],

    "Rok_Studiow": [2, 3, 1]

} 

df = pd.DataFrame(data) 

display(df) 

print(df.describe())

     Imię  Wiek  Ocena  Rok_Studiow
0     Ala    22    4.5            2
1  Bartek    25    3.8            3
2  Celina    20    5.0            1

            Wiek     Ocena  Rok_Studiow
count   3.000000  3.000000          3.0
mean   22.333333  4.433333          2.0
std     2.516611  0.602771          1.0
min    20.000000  3.800000          1.0
25%    21.000000  4.150000          1.5
50%    22.000000  4.500000          2.0
75%    23.500000  4.750000          2.5
max    25.000000  5.000000          3.0

In [9]:
import numpy as np 
import pandas as pd 

data = { 

    "Imię": ["Ala", "Bartek", "Celina"], 

    "Wiek": [22, 25, 20], 

    "Ocena": [4.5, 3.8, 5.0],

    "Rok_Studiow": [2, 3, 1]

} 

srednia_ocena = df["Ocena"].mean()

print(f"Średnia z ocen: {srednia_ocena}")

Średnia z ocen: 4.433333333333334

In [12]:
import numpy as np 
import pandas as pd 

data = { 

    "Imię": ["Ala", "Bartek", "Celina"], 

    "Wiek": [22, 25, 20], 

    "Ocena": [4.5, 3.8, 5.0],

    "Rok_Studiow": [2, 3, 1]

}

wieksze_od_4 = df[df["Ocena"] > 4]

print(wieksze_od_4)

     Imię  Wiek  Ocena  Rok_Studiow
0     Ala    22    4.5            2
2  Celina    20    5.0            1